<head>
  <title>{{ page.title }} | {{ site.title }}</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

  {%- assign desc = page.content | markdownify | newline_to_br | split: "<br />" -%}
  {%- assign desc_hless = "" | split: "" -%}
  {%- for item in desc -%}
  {%- unless item contains "</h1>" or item contains "</h2>" or item contains "</h3>" or item contains "</h4>" or item contains "</h5>" or item contains "</h6>" -%}
  {%- assign desc_hless = desc_hless | push: item -%}
  {%- endunless -%}
  {%- endfor -%}
  {%- assign desc_hless = desc_hless | join: "" | strip_html | truncate: 180 | strip -%}
  <meta name="description" content="{{ desc_hless }}">

  <meta property="og:title" content="{{ page.title }}">
  <meta property="og:type" content="website">
  <meta property="og:url" content="{{ page.url | absolute_url }}">
  <meta property="og:site_name" content="{{ site.title }}">
  {%-
    assign excerpt = page.content | markdownify |
    replace: "</h1>", ":" | replace: "</h2>", ":" | replace: "</h3>", ":" | replace: "</h4>", ":" | replace: "</h5>", ":" | replace: "</h6>", ":" |
    strip_html | truncatewords: 36
  -%}
  <meta property="og:description" content="{{ excerpt }}">
  <meta name="theme-color" content="{{ site.theme_color }}">

  <link rel="stylesheet" href="{{ '/assets/lifeblood.css' | relative_url }}">
  {%- if site.enable_dark_theme -%}
  <link rel="stylesheet" href="{{ '/assets/lifeblood_dark.css' | relative_url }}">
  {%- endif -%}
  <link rel="icon" href="{{ '/assets/favicon.ico' | relative_url }}">

  {%- if site.fonts -%}
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family={{ site.fonts | join: '&family=' }}&display=swap">
  {%- endif -%}
  {%- if site.enable_custom -%}
  <link rel="stylesheet" href="{{ '/assets/custom.css' | relative_url }}">
  {%- endif -%}
</head>
