{%- if site.heading_font -%}
<link rel="stylesheet" href="https://fonts.googleapis.com/css2?family={{ site.heading_font }}{%- if site.heading_weights -%}:wght@{{ site.heading_weights | join : ';' }}{%- endif -%}&display=swap">
{%- endif -%}
{%- if site.body_font -%}
<link rel="stylesheet" href="https://fonts.googleapis.com/css2?family={{ site.body_font }}:wght@400;700&display=swap">
{%- endif -%}
<style>
  {%- if site.heading_font -%}
    h1, h2, h3, h4, h5, h6 {
      font-family: "{{ site.heading_font }}" !important
    }
  {%- endif -%}
  {%- if site.body_font -%}
    p {
      font-family: "{{ site.body_font }}" !important
    }
  {%- endif -%}
</style>
