<div class="wrapper wrapper-nav">
  <input type="checkbox" id="toggle"></input>
  <label for="toggle"><i data-feather="menu"></i></label>
  <nav>
    <ul>
    {%- assign titled_pages = site.html_pages | where_exp: "item", "item.title != nil and item.title != 404" -%}
    {%- assign numeric_pages = titled_pages | where_exp: "item", "item.nav_order != nil" | sort: "nav_order" -%}
    {%- assign alphabetic_pages = titled_pages | where_exp: "item", "item.nav_order == nil" | sort: "title" -%}

    {%- for node in numeric_pages -%}
    <li class="{% if node.title == page.title %}active{% endif %}"><a href="{{ node.url | absolute_url }}">{{ node.title }}</a></li>
    {%- endfor -%}
    </ul>

    {%- if alphabetic_pages.size != 0 -%}
    <hr>
    <ul>
    {%- for node in alphabetic_pages -%}
      <li class="{% if node.title == page.title %}active{% endif %}"><a href="{{ node.url | absolute_url }}">{{ node.title }}</a></li>
    {%- endfor -%}
    </ul>
    {%- endif -%}
  </nav>
</div>
