{%- if site.home -%}
{%- assign home = site.home -%}
{%- else -%}
{%- assign home = "/" -%}
{%- endif -%}

<div class="wrapper wrapper-nav">
  <input type="checkbox" id="invis"></input>
  <div id="nav_top">
    <a id="site_title" href="{{ home | absolute_url }}">{{ site.title }}</a>
    <label for="invis" id="toggle">
      <svg width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round">
        <line x1="3" y1="12" x2="21" y2="12"></line>
        <line x1="3" y1="6" x2="21" y2="6"></line>
        <line x1="3" y1="18" x2="21" y2="18"></line>
      </svg>
    </label>
  </div>

  <div id="nav_content">
    <nav>
      <ul>
      {%- assign titled_pages = site.html_pages | where_exp: "item", "item.title != nil" | where_exp: "item", "item.title != 404" -%}

      {%- if site.enable_versions == true -%}
      {%- assign versions_map = titled_pages | map: "version" | uniq | compact -%}
      {%- assign same_titled_pages = titled_pages | where_exp: "item", "item.title == page.title" -%}
      <!-- restrict the nav to pages which share the same version as the page we're on -->
      {%- assign titled_pages = titled_pages | where_exp: "item", "item.version != nil" | where_exp: "item", "item.version == page.version" -%}
      {%- endif -%}

      {%- assign numeric_pages = titled_pages | where_exp: "item", "item.nav_order != nil" | sort: "nav_order" -%}
      {%- assign alphabetic_pages = titled_pages | where_exp: "item", "item.nav_order == nil" | sort: "title" -%}

      {%- for node in numeric_pages -%}
      <li class="{% if node.title == page.title %}active{% endif %}"><a href="{{ node.url | absolute_url }}">{{ node.title }}</a></li>
      {%- endfor -%}
      </ul>

      {%- if alphabetic_pages.size != 0 -%}
      <hr>
      <ul>
      {%- for node in alphabetic_pages -%}
        <li class="{% if node.title == page.title %}active{% endif %}"><a href="{{ node.url | absolute_url }}">{{ node.title }}</a></li>
      {%- endfor -%}
      </ul>
      {%- endif -%}
    </nav>

    {%- if site.enable_versions == true and page.title != 404 -%}
    <p id="versions">
      {%- for version in versions_map -%}
      {%- assign match = same_titled_pages | where_exp: "item", "item.version == version" | first -%}
      {%- if match == nil -%}
      <a class="redlink" title="page does not exist">{{ version }}</a>
      {%- else -%}
      <a href="{{ match.url | absolute_url }}">{{ version }}</a>
      {%- endif -%}
      {%- endfor -%}
    </p>
    {%- endif -%}
  </div>
</div>
