* {
  margin:0;
  border:0;
  padding:0;
  box-sizing:border-box
}

body {
  margin:0 auto;
  background-color:#f9f9f9;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", "Segoe UI Emoji", "Apple Color Emoji", "Noto Color Emoji", sans-serif;
  color:#363636;
  line-height:1.4
}

main {
  margin:20px auto;
  padding:0 15px 1rem 15px;
  max-width:1000px
}
