* {
  margin:0;
  border:0;
  box-sizing:border-box;
  padding:0
}

:root {
  --font-stack:system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", "Segoe UI Emoji", "Apple Color Emoji", "Noto Color Emoji", sans-serif;
  --font-stack-code:SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace;
  --color-background:#f9f9f9;
  --color-text:#363636;
  --color-text-muted:#888;
  --color-link:#0076d1;
  --color-link-alt:#0d96ff;
  --color-redlink:#d10000;
  --color-nav:#efefef;
  --color-nav-active:#e8e8e8;
  --color-code:#e8e8e8;
  --color-code-name:#e45649;
  --color-code-string:#50a14f;
  --color-code-function:#4078f2;
  --color-code-keyword:#a626a4;
  --color-code-constant:#986801;
  --color-code-attribute:#b76b01;
  --color-code-builtin:#cb7701;
  --color-code-operator:#0184bc;
  --color-code-comment:#727272;
  --color-hr:#d8d8d8;
  --color-table-stripe:#e8e8e8;
  --color-tip:#e7fdb8;
  --color-tip-accent:#5ac54f;
  --color-note:#cffeff;
  --color-note-accent:#0098dc;
  --color-caution:#fff4a5;
  --color-caution-accent:#ffc825;
  --color-selection:#ddd
}

html {
  scrollbar-color:#bdbdbd transparent
}

body {
  margin:auto;
  max-width:1000px;
  padding:20px;
  background-color:var(--color-background);
  font-family:var(--font-body, var(--font-stack));
  line-height:1.4;
  color:var(--color-text)
}

.wrapper-content {
  width:calc(100% - 250px);
  padding-left:15px
}

.wrapper-nav {
  flex-direction:column;
  display:flex;
  width:250px;
  height:min-content;
  background-color:var(--color-nav)
}

main {
  margin-bottom:4rem
}

footer {
  display:flex;
  color:var(--color-text-muted)
}

#footer_right {
  margin-left:auto
}

@media (min-width:960px) {
  html {
    margin-left:calc(100vw - 100%)
  }
}

@media (min-width:769px) {
  .wrapper-content {
    position:relative;
    left:250px
  }
  .wrapper-nav {
    position:fixed;
    max-height:calc(100% - 40px)
  }
}

@media (max-width:768px) {
  body {
    margin:0 auto;
    padding:0
  }
  .wrapper {
    width:100%
  }
  .wrapper-content {
    padding:15px
  }
}
