* {
  margin:0;
  border:0;
  box-sizing:border-box;
  padding:0
}

body {
  margin:0 auto;
  background-color:#f9f9f9;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", "Segoe UI Emoji", "Apple Color Emoji", "Noto Color Emoji", sans-serif;
  line-height:1.4;
  color:#363636
}

body {
  flex-wrap:wrap;
  display:flex;
  margin:20px auto;
  max-width:1000px
}

.main, .sidebar {
  position:relative;
  padding:0 15px
}

.main {
  width:75%
}

.sidebar {
  border-right:1px solid #ccc;
  width:25%;
  height:min-content;
  padding:0.75rem;
  background-color:#e9e9e9
}

@media (max-width:768px) {
  .main, .sidebar {
    margin:0 auto;
    width:100%
  }
}
