pre {
  overflow:auto;
  margin:0 0 1rem;
  border-radius:6px;
  padding:1rem;
  background-color:var(--color-code);
  font-size:0.875em;
  white-space:pre
}

code {
  font-size:0.875em;
  font-family:var(--font-code, var(--font-stack-code));
  word-break:normal
}

pre code {
  font-size:inherit
}

/* inline code */
code.highlighter-rouge {
  border-radius:3px;
  padding:1px 5px;
  background-color:var(--color-code)
}

.dl, .s, .s2, .sb {
  color:#50a14f
}

.k, .kd, .kn, .kp, .kr, .kt, .nl {
  color:#a626a4
}

.kc, .m, .mf, .mh, .mi, .il, .mo, .mx, .mb {
  color:#986801
}

.nb {
  color:#cb7701
}

.o {
  color:#0184bc
}

.c, .cm, .cp, .c1 {
  color:#727272
}
