/* inline code */
code.highlighter-rouge {
  border-radius:3px;
  padding:1px 5px;
  font-size:0.875rem;
  background-color:#e8e8e8;
}

/* code block */
pre {
  overflow:auto;
  margin:0 0 1rem;
  border-radius:6px;
  padding:1rem;
  background-color:#e8e8e8;
  font-size:0;
  font-family:SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace
}

/* lines in a block */
pre code {
  font-size:0.875rem;
  word-break:normal;
  white-space:pre
}

/* tokens in a line */
code span {
  font-size:0.875rem
}

.dl, .s, .s2, .sb {
  color:#50a14f
}

.k, .kd, .kn, .kp, .kr, .kt, .nl {
  color:#a626a4
}

.kc, .m, .mf, .mh, .mi, .il, .mo, .mx, .mb {
  color:#986801
}

.nb {
  color:#cb7701
}

.o {
  color:#0184bc
}

.c, .cm, .cp, .c1 {
  color:#727272
}
