main {
  ul, ol {
    margin-bottom:1rem;
    counter-reset:step-counter
  }
  li {
    margin-left:1rem;
    margin-bottom:0.5rem;
    padding-left:2rem;
    list-style:none
  }
}

main ul li:before {
  content:"\2022";
  position:absolute;
  margin-left:-2rem;
  color:var(--color-text-muted)
}

main ol li:before {
  content:counter(step-counter) ".";
  position:absolute;
  margin-left:-2rem;
  color:var(--color-text-muted);
  counter-increment:step-counter
}

blockquote {
  border-left:4px solid #ccc;
  padding-left:1.5rem;
  font-style:italic
}

table {
  margin-bottom:0.5rem;
  border-spacing:0;
  width:100%;
  table-layout:fixed
}

th, td {
  padding:6px;
  text-align:left
}

th {
  border-bottom:1px solid #ccc
}

tr:nth-child(2n) {
  background-color:#e8e8e8
}

hr {
  margin:1.5rem 0 0.75rem 0;
  border-bottom:1px solid #d8d8d8
}

.tip, .note, .caution {
  padding:0.5rem 1.5rem;
  &:before {
    font-weight:bold
  }
}

.tip {
  border-left:4px solid #5ac54f;
  background-color:#e7fdb8
}

.tip:before {
  content:"tip: "
}

.note {
  border-left:4px solid #0098dc;
  background-color:#cffeff
}

.note:before {
  content:"note: "
}

.caution {
  border-left:4px solid #ffc825;
  background-color:#fff4a5
}

.caution:before {
  content:"caution: "
}
