nav li {
  height:2rem;
  line-height:2rem;
  list-style:none
}

nav li.active {
  background-color:#e5e5e5
}

nav li a {
  margin-left:1rem
}

nav hr {
  margin:0 auto;
  width:90%
}

#toggle {
  display:none
}

div label {
  float:right;
  display:none;
  margin-right:0.5rem;
  height:2rem
}

@media (max-width:768px) {
  nav {
    display:none;
  }
  div label {
    display:flex;
    align-items:center
  }
  #toggle:checked ~ nav {
    display:block;
    margin-top:2rem
  }
}
