.wrapper-nav a {
  display:inline-block;
  width:100%;
  &:hover {
    background-color:#e8e8e8;
    text-decoration:none
  }
}

nav {
  overflow-y:auto
}

nav li {
  line-height:1.5rem;
  word-break:break-word;
  list-style:none
}

nav li a {
  padding:0.25rem 1rem
}

nav hr {
  margin:0 auto;
  width:90%
}

.active {
  background-color:#e8e8e8
}

#invis {
  display:none
}

#toggle {
  float:right;
  display:none;
  width:48px;
  height:48px
}

#site_title {
  padding-left:1rem;
  cursor:pointer;
  font-size:1.25rem;
  line-height:3rem;
  color:var(--color-text)
}

#versions {
  margin-bottom:0;
  padding:0.5rem 1rem;
  line-height:1.3rem;
  color:#0d96ff
}

#versions a {
  width:initial;
  color:#0d96ff;
  &:not(:last-child) {
    margin-right:0.5rem
  }
}

@media (max-width:768px) {
  nav {
    display:none
  }
  nav li a {
    padding:0.5rem 1rem
  }
  #toggle {
    display:flex;
    cursor:pointer;
    align-items:center;
    justify-content:center;
    &:hover {
      background-color:#e8e8e8
    }
  }
  #site_title {
    width:calc(100% - 48px)
  }
  #invis:checked ~ nav {
    display:block
  }
}
