h1, h2, h3, h4, h5, h6, p {
  margin-top:0;
  margin-bottom:1rem;
  font-family:var(--font-heading, var(--font-stack));
  font-weight:400
}

h1 {
  font-weight:700;
  font-size:2rem
}

h2 {
  font-size:1.75rem
}

h3 {
  font-size:1.5rem
}

h4 {
  font-size:1.25rem
}

h5, h6 {
  font-size:0.9rem
}

h6 {
  font-style:italic;
  color:var(--color-text-muted)
}

small {
  font-size:80%
}

a {
  text-decoration:none;
  color:var(--color-link)
}

a:hover {
  text-decoration:underline
}
